html {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: whitesmoke;
}

body {
    background-image: url("");
    background-color: #00272B;
    margin: 1rem auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.play-button {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #00272B;
    color: whitesmoke;
    font-size: 2rem;
    padding: 1rem 1rem;
    cursor: pointer;
}


.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card-container {
    background-image: url(../images/mk-cardback.svg);
    width: auto;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    border: 3px solid gold;
}

.mortal-kombat {
    background-image: url("../images/cards/mortal-kombat.svg");
    background-repeat: no-repeat;
    display: block;
    width: 187px;
    height: 187px;
    /* transform: scale(0.75); */
    transform-origin: top left;
    border: 3px solid gold;
}

.street-fighter {
    background-image: url("../images/cards/street-fighter.svg");
    background-repeat: no-repeat;
    display: block;
    width: 187px;
    height: 187px;
    /* transform: scale(0.75); */
    transform-origin: top left;
    border: 3px solid gold;
}

.image-1 {
    background-position: 0 0;
}

.image-2 {
    background-position: -187px 0;
}

.image-3 {
    background-position: -374px 0;
}

.image-4 {
    background-position: 0 -187px;
}

.image-5 {
    background-position: -187px -187px;
}

.image-6 {
    background-position: -374px -187px;
}

.image-7 {
    background-position: 0 -374px;
}

.image-8 {
    background-position: -187px -374px;
}

.image-9 {
    background-position: -374px -374px;
}

.hidden {
    opacity: 0;
}